DBT_ADAPTER_PACKAGE=dbt-postgres
DBT_ADAPTER_VERSION=1.10.0
DBT_TYPE=postgres
DBT_TARGET=default
DBT_PROFILE_NAME=analytics_premium
DBT_HOST=host.docker.internal
DBT_PORT=5432
DBT_USER=postgres
DBT_PASSWORD=change-me
DBT_DATABASE=mydb
DBT_SCHEMA=public
DBT_THREADS=4
DBT_SSLMODE=prefer
DBT_TARGET_OUTPUT_JSON=
DBT_OUTPUT_EXTRA_JSON=
DBT_ACCOUNT=
DBT_WAREHOUSE=
DBT_ROLE=
DBT_AUTHENTICATOR=
DBT_PROJECT=
DBT_KEYFILE=
DBT_LOCATION=
DBT_SOURCE_DATABASE=mydb
DBT_SOURCE_SCHEMA=public
DBT_SOURCE_IDENTIFIER=premium_transaction
DBT_DEFAULT_SELECT=+fct_monthly_partner_premium
